fp-info-cache
RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch
~RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch.lck
~RGB_PICO_SATA_CONTROLLER.kicad_pcb.lck
#auto_saved_files#
.gitignore
_autosave-RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch
#auto_saved_files#
#auto_saved_files#
RGB_PICO_SATA_CONTROLLER-backups/RGB_PICO_SATA_CONTROLLER-2026-04-17_225201.zip
Firmware/build/CMakeCache.txt
Firmware/build/CMakeFiles/cmake.check_cache
Firmware/build/CMakeFiles/CMakeConfigureLog.yaml
Firmware/build/CMakeFiles/4.3.1/CMakeASMCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeCCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeCXXCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_C.bin
Firmware/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_CXX.bin
Firmware/build/CMakeFiles/4.3.1/CMakeRCCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeSystem.cmake
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath.txt
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CMakeCCompilerId.c
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CompilerIdC.exe
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CompilerIdC.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CMakeCCompilerId.obj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CompilerIdCXX.exe
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CompilerIdCXX.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
