fp-info-cache
RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch
~RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch.lck
~RGB_PICO_SATA_CONTROLLER.kicad_pcb.lck
#auto_saved_files#
.gitignore
_autosave-RGB_PICO_SATA_CONTROLLER_autogen.kicad_sch
#auto_saved_files#
#auto_saved_files#
RGB_PICO_SATA_CONTROLLER-backups/RGB_PICO_SATA_CONTROLLER-2026-04-17_225201.zip
Firmware/build/CMakeCache.txt
Firmware/build/CMakeFiles/cmake.check_cache
Firmware/build/CMakeFiles/CMakeConfigureLog.yaml
Firmware/build/CMakeFiles/4.3.1/CMakeASMCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeCCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeCXXCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_C.bin
Firmware/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_CXX.bin
Firmware/build/CMakeFiles/4.3.1/CMakeRCCompiler.cmake
Firmware/build/CMakeFiles/4.3.1/CMakeSystem.cmake
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath.txt
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CMakeCCompilerId.c
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CompilerIdC.exe
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CompilerIdC.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CMakeCCompilerId.obj
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CompilerIdCXX.exe
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CompilerIdCXX.vcxproj
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
Firmware/build/CMakeFiles/4.3.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Firmware/build/.ninja_deps
Firmware/build/.ninja_log
.gitignore
Firmware/build/build.ninja
Firmware/build/cmake_install.cmake
Firmware/build/pico_flash_region.ld
Firmware/build/_deps/picotool-build/CMakeCache.txt
Firmware/build/_deps/picotool-build/CMakeFiles/cmake.check_cache
Firmware/build/_deps/picotool-build/CMakeFiles/CMakeConfigureLog.yaml
Firmware/build/_deps/picotool-build/CMakeFiles/4.3.1/CMakeSystem.cmake
Firmware/build/_deps/picotool-build/CMakeFiles/4.3.1/CompilerIdC/CMakeCCompilerId.c
Firmware/build/_deps/picotool-build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Firmware/build/_deps/picotool-subbuild/.ninja_log
Firmware/build/_deps/picotool-subbuild/build.ninja
Firmware/build/_deps/picotool-subbuild/cmake_install.cmake
Firmware/build/_deps/picotool-subbuild/CMakeCache.txt
Firmware/build/_deps/picotool-subbuild/CMakeLists.txt
Firmware/build/_deps/picotool-subbuild/CMakeFiles/cmake.check_cache
Firmware/build/_deps/picotool-subbuild/CMakeFiles/CMakeConfigureLog.yaml
Firmware/build/_deps/picotool-subbuild/CMakeFiles/InstallScripts.json
Firmware/build/_deps/picotool-subbuild/CMakeFiles/picotool-populate-complete
Firmware/build/_deps/picotool-subbuild/CMakeFiles/rules.ninja
Firmware/build/_deps/picotool-subbuild/CMakeFiles/TargetDirectories.txt
Firmware/build/_deps/picotool-subbuild/CMakeFiles/4.3.1/CMakeSystem.cmake
Firmware/build/_deps/picotool-subbuild/CMakeFiles/picotool-populate.dir/Labels.json
Firmware/build/_deps/picotool-subbuild/CMakeFiles/picotool-populate.dir/Labels.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-build
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-configure
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-done
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-download
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-gitclone-lastrun.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-gitinfo.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-install
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-mkdir
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-patch
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-patch-info.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-test
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/src/picotool-populate-stamp/picotool-populate-update-info.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/tmp/picotool-populate-cfgcmd.txt
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/tmp/picotool-populate-gitclone.cmake
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/tmp/picotool-populate-gitupdate.cmake
Firmware/build/_deps/picotool-subbuild/picotool-populate-prefix/tmp/picotool-populate-mkdirs.cmake
Firmware/build/CMakeFiles/InstallScripts.json
Firmware/build/CMakeFiles/rules.ninja
Firmware/build/CMakeFiles/TargetDirectories.txt
Firmware/build/CMakeFiles/4.3.1/CompilerIdC/CMakeCCompilerId.o
Firmware/build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.o
Firmware/build/CMakeFiles/picotoolBuild.dir/Labels.json
Firmware/build/CMakeFiles/picotoolBuild.dir/Labels.txt
Firmware/build/generated/pico_base/pico/config_autogen.h
Firmware/build/generated/pico_base/pico/version.h
Firmware/build/pico-sdk/cmake_install.cmake
Firmware/build/pico-sdk/docs/cmake_install.cmake
Firmware/build/pico-sdk/src/cmake_install.cmake
Firmware/build/pico-sdk/src/common/boot_picobin_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/boot_picoboot_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/boot_uf2_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/hardware_claim/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_base_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_binary_info/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_bit_ops_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_divider_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_stdlib_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_sync/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_time/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_usb_reset_interface_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/common/pico_util/cmake_install.cmake
Firmware/build/pico-sdk/src/extra_doxygen/dreq.h
Firmware/build/pico-sdk/src/extra_doxygen/intctrl.h
Firmware/build/pico-sdk/src/rp2040/boot_stage2/bs2_default_padded_checksummed.S
Firmware/build/pico-sdk/src/rp2040/boot_stage2/bs2_default.bin
Firmware/build/pico-sdk/src/rp2040/boot_stage2/bs2_default.dis
Firmware/build/pico-sdk/src/rp2040/boot_stage2/bs2_default.elf
Firmware/build/pico-sdk/src/rp2040/boot_stage2/bs2_default.elf.map
Firmware/build/pico-sdk/src/rp2040/boot_stage2/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2040/boot_stage2/CMakeFiles/bs2_default.dir/compile_time_choice.S.obj
Firmware/build/pico-sdk/src/rp2040/boot_stage2/CMakeFiles/bs2_default_library.dir/bs2_default_padded_checksummed.S.obj
Firmware/build/pico-sdk/src/rp2040/hardware_regs/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2040/hardware_structs/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2040/pico_platform/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/boot_bootrom_headers/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/cmsis/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_adc/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_base/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_boot_lock/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_clocks/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_divider/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_dma/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_exception/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_flash/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_gpio/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_i2c/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_interp/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_irq/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_pio/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_pll/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_pwm/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_resets/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_rtc/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_spi/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_sync/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_sync_spin_lock/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_ticks/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_timer/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_uart/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_vreg/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_watchdog/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_xip_cache/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/hardware_xosc/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_aon_timer/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_async_context/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_atomic/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_bit_ops/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_bootrom/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_btstack/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_clib_interface/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_crt0/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cxx_options/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_arch/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/CMakeFiles/pioasmBuild.dir/Labels.json
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/CMakeFiles/pioasmBuild.dir/Labels.txt
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/cybt_shared_bus/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/src/pioasmBuild-stamp/pioasmBuild-patch-info.txt
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/src/pioasmBuild-stamp/pioasmBuild-source_dirinfo.txt
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/src/pioasmBuild-stamp/pioasmBuild-update-info.txt
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/tmp/pioasmBuild-cache-Release.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/tmp/pioasmBuild-cfgcmd.txt
Firmware/build/pico-sdk/src/rp2_common/pico_cyw43_driver/pioasm/tmp/pioasmBuild-mkdirs.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_divider/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_double/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_fix/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_flash/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_float/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_i2c_slave/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_int64_ops/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_lwip/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_lwip/tools/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_malloc/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_mbedtls/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_mem_ops/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_multicore/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_platform_common/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_platform_compiler/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_platform_panic/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_platform_sections/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_printf/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_rand/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_runtime/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_runtime_init/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_standard_binary_info/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_standard_link/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_status_led/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdio/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdio_rtt/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdio_semihosting/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdio_uart/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdio_usb/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_stdlib/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_time_adapter/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/pico_unique_id/cmake_install.cmake
Firmware/build/pico-sdk/src/rp2_common/tinyusb/cmake_install.cmake
Firmware/build/pico-sdk/tools/cmake_install.cmake
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-download
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-mkdir
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-patch
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-patch-info.txt
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-source_dirinfo.txt
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-update
Firmware/build/picotool/src/picotoolBuild-stamp/picotoolBuild-update-info.txt
Firmware/build/picotool/tmp/picotoolBuild-cfgcmd.txt
Firmware/build/picotool/tmp/picotoolBuild-mkdirs.cmake
